*{
    margin:0px;
    padding:0px;
    
}
.barra{
    height: 150px;
    display:flex;
    justify-content: space-between;
    background-color: #130b32;
    padding: 20px;
}
.logo{
    box-sizing: border-box;
    /* padding: 10px; */
}
.menu{
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100px;

}
.btnav{
    top: 10%;
    background-color: #130b32;
}
