.barra{
    height: 100px;
    width: 1000px;
    top: 0%;
    position: absolute;
    background-color: #130b32;
    
}
.logo{
    position: absolute;
    width: 95px;
    height: 95px;
    left: 3%;
    top: 40px;
}
.btnav{
    top: 10%;
    text-align: right;
    background-color: #130b32;
}