/* Index-Page */
*{
    margin:0px;
    padding:0px;
}
body{
    height: 1000px;
    background-color:  #130b32;
    
}
.barra{
    height: 125px;
    display:flex;
    justify-content: space-between;
    background-color: #130b32;
    padding: 20px;
}
.logo{
    box-sizing: border-box;
    /* padding: 10px; */
}
.Home,.Vender,.Comprar,.filtro{
    background-color: #130b32;
    border-radius: 5%;
    box-shadow: 1px 1px 5px blueviolet;
}
button > a {
    text-decoration: none;
    color: cyan;
    padding: 5px;
}
.Home:hover,.Vender:hover,.Comprar:hover,.filtro:hover{
    background-color: #130b32;
    box-shadow: 2px 2px 10px purple;
}
.entrar{
    background-color: #130b32;
    height: 50px;
    width: 55px;
    align-self: center;
    border-radius: 5%;
    border-style: inset;
    border-color: cyan;
    box-shadow: 2px 2px 10px cyan;
}
.entrar:hover{
    box-shadow: 2px 2px 10px blue;
}
.meio{
    border-style: solid;
    border-color: #130b32;
    display: flex;
    height: 600px;
    padding: 5%;
    background-image: url(./Midia/img1.jpg);    
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    justify-content: center; 
    align-items: center;
}
.img{
    box-sizing: content-box;
    height: 90%;
    width: 50%;
    border-radius: 5%;
    box-shadow: 0.5px 1px 5px white;
    transition: 0.5s;
}
.img:hover{
    box-sizing: border-box;
    height: 90%;
    border-radius: 5%;
    box-shadow: 0.5px 1px 5px blue;
    transition: 0.5s;
}
.menu{
    display:flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.produtos{
    height: 1100px;
    display: flex;
    /* gap: 70px; */
    background-color: #130b32;
    justify-content: space-around; 
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.divF1{
    height: 400px;
    width: 300px;
    padding: 5px;
    border-style: solid;
    border-color: yellow;
    border-radius: 5%;
    box-sizing: border-box;
}
.divf1{
    height: 49%;
    width: 100%;
    gap: 45px;
    display: flex;
    /* padding: 5px; */
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.divF1:hover{
    height: 410px;
    width: 300px;
    padding: 5px;
    border-style: solid;
    border-color: yellow;
    box-shadow: 1px 2px 10px yellow;
    /* transition: 0.5s; */
    border-radius: 5%;
    box-sizing: border-box;
}
.fotos_carros{
    object-fit: cover;
    border-radius: 5%;
    width: 100%;
    height: 50%;
}
.titul{
    color: white;
}
.desc{
    color: white;
    align-self: start;
}
.preco{
    color: white;
    align-self: start;
}
.butao{ 
    width: 90px;
    border-color: rgba(94, 255, 0, 0.849);
    border-style: outset;
    background-color: rgba(94, 255, 0, 0.849);
    border-radius: 15%;
}.butao:hover{
    width: 100px;
    border-color: rgb(0, 255, 213);
    transition: 0.5s;
    box-shadow: 0.5px 1px 5px rgb(0, 255, 213);
    
}
.rodape{
    height: 125px;
    display:flex;
    justify-content: space-around;
    background-color: #130b32;
    /* padding: 20px; */
}
.logof{
    box-sizing: border-box;
    
}
.textRodape{
    color: white;
    align-self: end;
}

/* Index-Page */
 
/*LoginPage */

.full{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#130b32;
}
.tela{
    height: 400px;
    width: 400px;
    border-radius: 7px;
    background-color: aqua;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #480ca8;
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-image: url(Midia/login.jpg);
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 11px
}

.areaLogin img {
    width: 420px;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #ccc;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}


.formLogin input:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #ccc;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: #f72585;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
    cursor: pointer;

}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;

}
.link{
    text-decoration: none;
    padding: 5px;
}
/*LoginPage */

/*CompraPage*/

.telaf{
    height: 500px;
    width: 800px;
    background-color: #130b32;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.inpu{  
    border: 1px solid #480ca8;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 7px;
}
.s{
    
    height: 500px;
    width: 200px;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.m{
    height: 500px;
    width: 400px;
    display: flex;
    border-style: dotted;
    align-items: center;
    flex-direction: column;
    gap: 210px;
}
.d{
    height: 500px;
    width: 200px;
    border-style: dotted;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.bot{
    border-radius: 20%;
    background-color: green;
    border-color: green;
    height: 30px;
    width: 120px;
}
.bot:hover{
    border-color: rgb(9, 197, 9);
    transition: 0.5s;
    box-shadow: 1px 1px 10px rgb(9, 197, 9);
}
.label{
    color: white;
    font-size: 14px;
    font-weight: 600;
}