<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleform.css') }}">
    <script  src="./script.js"></script>
    <title>Cadrastro</title>
</head>
<body>
    <div class="divCorpo">
        <form class="form" action="#">
            <h1 class="titulo-form">Formulário de Cadrastro</h1>
            <div class="input-group">
            
                <input type="text" name="cad_nome" class="input"  autocomplete="off" required="">
                <label class="user-label">Nome</label>
            
            </div>
            <div class="input-group">
            
                <input type="text" name="cad_senha" class="input"  autocomplete="off" required="">
                <label class="user-label">Senha</label>
            
            </div>
            <div class="input-group">
            
                <input type="text" name="cpf" class="input"  autocomplete="off" required="">
                <label class="user-label">CPF</label>
            
            </div>
            <input type="submit" class="btn-gradient" value="Enviar">
        </form>
    </div>
</body>
</html>
